{
  "presets": [
    ["@babel/env", { "targets": { "node": "12" } }],
    ["@babel/typescript"]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }]
  ]
}
